<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964702106852-soqt5dr68l4g84nfjqedurd8joee3n8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964702106852-soqt5dr68l4g84nfjqedurd8joee3n8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBaLwh__VDsTO1t9SNFwRksfc9-15fGzQo</string>
	<key>GCM_SENDER_ID</key>
	<string>964702106852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eversendapp</string>
	<key>PROJECT_ID</key>
	<string>eversendapp1</string>
	<key>STORAGE_BUCKET</key>
	<string>eversendapp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964702106852:ios:15d88ae16a17b95c</string>
	<key>DATABASE_URL</key>
	<string>https://eversendapp1.firebaseio.com</string>
</dict>
</plist>